html 
    head 
        title Listagem 
    body 
        h1 Listagem de produtos
        ul 
            each product in products
                li= product.name
        a(href="/products/form") Formulario de produtos
        a(href="/") home